<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application

        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Capstone_HealthPass"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            />
        <activity android:name=".Reserve.ReserveEndActivity"
            android:exported="true"
           />
        <activity android:name=".Reserve.ReserveMachineActivity"
            android:exported="true"
            />
        <activity android:name=".Account.LoginActivity"
            android:exported="true"
            />
        <activity android:name=".Reserve.ReserveConfirmActivity"
            android:exported="true"
            />
        <activity android:name=".Reserve.ReserveDaytimeActivity"
            android:exported="true"
            />
        <activity android:name=".Recommend.SelectActivity"
            android:exported="true"
            />
        <activity android:name=".Account.JoinActivity"
            android:exported="true"
            />
        <activity android:name=".gpsActivity"
            android:exported="true"
            />
        <activity android:name=".Recommend.RecommendationActivity"
            android:exported="true"
            />
        <activity android:name=".Recommend.RoutineActivity"
            android:exported="true"
            />
        <activity android:name=".Account.MYpageActivity"
            android:exported="true"
            />
        <activity android:name=".WeekPlanActivity"
            android:exported="true"
            />
        <activity android:name=".ScanQR"
            android:exported="true"
            />
        <activity android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation"/>
        <activity android:name=".SplashActivity"
            android:theme="@style/Theme.Capstone_HealthPass"
            android:exported="true">

                    <intent-filter>
                        <action android:name="android.intent.action.MAIN" />

                        <category android:name="android.intent.category.LAUNCHER" />
                    </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDxZy03pE2BnIZh9v_avgCTPJJzrqToH-Y" />


        <meta-data
                android:name="android.app.lib_name"
                android:value="" />

    </application>


</manifest>